{% extends 'base.html' %}

{% block content %}
<br><br>
<h3 class="text-center">LISTA DE PROYECTOS</h3>
<section>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href = "{% url 'registro' %}">Añadir proyecto</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href = "{% url 'login' %}">Añadir proyecto</a>
            <p>Para añadir proyecto necesitas iniciar sesion</p>
        </li>
        {% endif %}
    {% if proyectos %}
    {% for proyecto in proyectos %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="card">
                <div class = "card-body">
                    <div class="resume-section-content">
                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="flex-grow-1">
                                
                                <img src="{{ p.imagen.url }}" alt="foto proyecto">
                                
                                <h3 class="mb-0">{{proyecto.titulo}}</h3>
                                <p>{{proyecto.descripcion}}</p>
                                <div class="subheading mb-3">{{proyecto.tags}}</div>
                                <div class="subheading mb-3">{{proyecto.url_github}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>       
{% endblock %}  
           